# eclipse files
.project
.pydevproject

# project files
game/
info/
logs/
roms/
.output
*.bk
*.dat
*.json
*.txt

# stream video files
*.avi
*.flv
*.mp4

# python compiled files
__pycache__/
*.py[cod]

# vim backup files
*.sw[a-z]
