# eclipse files
.project
.pydevproject

# project files
game/
roms/
*.bk
*.txt

# project data files
data/
logs/
.output
*.dat
*.json

# stream video files
*.avi
*.flv
*.mp4

# python compiled files
__pycache__/
*.py[cod]

# vim backup files
*.sw[a-z]
